.block {
    border: 1px solid darkgreen;
    margin-top: 1cm;
    padding: 0.2cm;
}

.block-title {
    text-align: left;
    padding: 0.5cm 0.5cm;
}

.block-track {
    border: 1px solid darkred;
    margin-top: 0.1cm;
    padding: 0.2cm;
}